.bulletin {
    background-image: url("../img/cork-board.jpg");
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
}
.pagination-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}
.pagination-buttons .btn {
    width: 20%;
}