/* Media Queries */

@media (max-width: 768px) {
  .full-page {
    display: flex;
    flex-direction: column;
  }
  .Full-Bulletin .row {
    display: inline !important;
  }
  .nav-full {
    padding: 50px;
    min-height: unset !important;
  }
} 

@media (max-width: 600px) {
  .post-full{
    width: 100%;
  }
  .github-picker{
    width: auto !important;
    flex-wrap: wrap !important;
  }
}