.post-full {
    background-color: #F4D58D;
    border: black solid 2px;
    position: absolute;
    width: 600px;
    padding: 20px;
}
.post-list {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
}
.post-complete {
    background-color: #F4D58D;
    border: solid 2px black;
    width: 320px;
    margin: 20px;
}
.post-title{
    text-align: center;
    background-color: #001427;
    color: #F4D58D;
    font-family: 'Bungee', cursive;
    padding: 10px 0px 5px 0px;
}
.post-inputs{
    border: black solid 1px;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
}
.post-image-group{
    display: flex;
    flex-direction: column;
}
.post-image{
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.post-results{
    margin-top: 20px;
    display: flex;
    margin-bottom: 0px;
}
.filepicker{
    border: solid #ced4da 1px;
}
.buttons{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.time-available{
    display: flex;
    justify-content: space-between;
}
#time-available{
    width: 80%;
}
.google-map{
    width: 100%;
}
.github-picker{
    width: 415px !important;
}